section {
  display: inline-flex;
  padding: 25px;
}
.bus {
  color: #d21339;
  width: 200px;
  font-weight: bolder;
}
.bar {
  background-color: #d21339;
  color: white;
}
.mid {
  background-color: #d21339;
}
.char {
  font-weight: bold;
  color: #d21339;
}

em {
  font-weight: bold;
  color: #e59999;
}
#testbutton {
  margin-right: 10px;
}
